## Welcom to SET data structure

In [1]:
basket = {'apple','orange','mango','papaya','banana','guvava'}
print(basket , " Type =  ", type(basket) )

{'papaya', 'mango', 'banana', 'orange', 'guvava', 'apple'}  Type =   <class 'set'>

In [2]:
'apple' in basket

True

### # Demonstrate set operations on unique letters from two words

In [3]:
a = set('Harshit Chauahn')
print(a)

{'u', ' ', 't', 'a', 's', 'r', 'h', 'C', 'i', 'n', 'H'}

In [4]:
s= {}  # is it set or somthing else ,let's find it
print(type(s))

<class 'dict'>

In [5]:
s = set()
print(type(s))

<class 'set'>

In [2]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {6,7,8,9,10,11,12,13,14}
set1-set2

{1, 2, 3, 4, 5}

In [4]:
set1|set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [5]:
set1 & set2

{6, 7, 8, 9, 10}

In [6]:
set1^set2                          # letters in a or b but not both

{1, 2, 3, 4, 5, 11, 12, 13, 14}